*{
    margin: 0;
    padding: 0;
   
    section{
        padding: 0 20px 15px 20px;
    }
}

header{
    background-color:rgb(218, 206, 210);
}

header nav img{
    height: 50px;
    width: 150px;
} 
nav{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 0.8rem;
    display: flex;
    text-align: center;
    justify-content:space-between;
}

nav ul{
    list-style: none;
    display: flex;
}

nav ul li{
   margin: 18px 18px 8px 12px;
}

nav ul li a{
  text-decoration: none;
  font-style:italic;
  font-weight: bold;
  color: rgb(133, 3, 42);
}

h1{
    text-align: center;
   padding: 20px 0;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

h2{
padding-top: 15px;
padding-bottom: 10px;
text-align: center;
text-decoration: underline;
}

h3{
padding: 10px 0 10px 15px;  
}



/* section 1 - sobre */
#sobre{
    background-color: rgb(228, 195, 155);
    
    text-align: justify;
}

.sobre, .projetos, .venda, .card{
    display: flex;
}

.sobre_left{
    padding-right: 20px;
}


/* section 2 - Projetos */
#projetos{
    background-color: rgb(189, 155, 116);
}
.projetos{
    text-align: center;
}

.projetos figure img{
    width: 300px;
    height: 250px;
}

.projetos figure{
    text-align: left;
}

.projetos figcaption{
    font-weight: bold;
    padding-bottom: 10px;
}

/* section 3 - Vendas */

#venda{
    background-color: brown;
}

.venda h2{
    text-align: left;
    text-decoration: none;
}

.venda .card img{
    width:300px;
    height: 100px;
    padding-right: 10px;
    padding-bottom: 20px;
}

.venda .card p{
    padding-top: 50px;
    font-size: 15px;
}

.venda .BL_esquerdo, .BL_central{
    padding-left:20px ;
}

.venda .BL_direito{
    padding-left:65px;
}

.venda .BL_direito p{
    text-align:justify;
    margin-right: 20px;
}

#contato, footer{
    text-align: center;
    background-color: rgb(116, 61, 61);
    padding: 20px 0;
}

.topo{
    color:aliceblue;
}